.changePasswordContainer {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    label {
      margin-right: 10px;
    }

    input {
      border: none;
      border-radius: 50px;
      padding: 4px 14px;
      background-color: var(--input-background-color);
      color: var(--text-color);

      &:focus {
        outline: none;
      }
    }

    .errorMessage {
      color: var(--error-color);
    }

    button {
      align-self: center;
      border: 3px solid var(--primary-color);
      border-radius: 50px;
      padding: 8px 16px;
      font-weight: 900;
      color: var(--primary-color);
      background-color: transparent;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: var(--primary-color);
        cursor: pointer;
        color: #eeeeee;
      }
    }

    .registerLink {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
