.graphContainer {
  display: flex;
  flex-direction: column;
}

.sliderContainer {
  width: 30%;
  min-width: 300px;
  align-self: flex-end;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  & > p {
    width: fit-content;
    white-space: nowrap;
  }
}
