.editSeries {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .inputGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    input {
      border: none;
      border-radius: 50px;
      padding: 4px 14px;
      background-color: var(--input-background-color);
      color: var(--text-color);

      &:focus {
        outline: none;
      }
    }
  }
}

.button {
  width: fit-content;
  border-radius: 50px;
  padding: 8px 16px;
  font-weight: 900;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    cursor: pointer;
    color: #eeeeee;
  }
}

.submitButton {
  border: 3px solid var(--primary-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
  }
}

.deleteButton {
  border: 3px solid var(--error-color);
  color: var(--error-color);

  &:hover {
    background-color: var(--error-color);
  }
}
