.appContainer {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
}

.pageContainer {
  padding: 3.5% 5%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
