.header {
  width: 100%;
  height: 11.5%;
  min-height: 75px;
  max-height: 125px;
  padding: 0px 5%;
  background-color: var(--background-color-light);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary-color);
}
