.header {
  width: 100%;
  height: 11.5%;
  min-height: 75px;
  max-height: 125px;
  padding: 0px 5%;
  background-color: var(--background-color-primary);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: 900;
  color: var(--primary-color);
}

.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.toggleButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-color-secondary);
  color: var(--text-color-primary);
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
